#suggested-list{
    justify-content: center;
}

#extra-details{
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
}

.btm{
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
}